<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rose Disease Detection Assitant</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-image: url('{{ background_image_url }}');background-size: cover;background-position: center;">


  <h1><span class="hn">Rose Disease Detection by VGG16
      & Plantation Assitant <span style='font-size:25px;'>&#129344;</span></h1></span>
  </div>

  <div class="center" id="mydiv">
    <form method="post" action="/predictions" enctype="multipart/form-data">
      <h3><label for="image" style="color:#6c2d76">Upload a Leaf Image For Detection by VGG16:</label></h3>
      <div class="r"><input type="file" name="img" accept=".jpg, .jpeg, .png" style="color:brown" required></div>
      <img src="{{ image_url }}" style="height:150px;width:200px" /><br>
      <button type="submit" class="button">Predict</button>
    </form>
    <h5>Prediction: {{ class_name }}</h5>
    <p>All other Results: </p>
    {% for prediction in datas %}
    <p style="font-size:15px">Black Spot {{ "%.2f" % (prediction[0] * 100) }}%</p>
    <p style="font-size:15px">Cercospora Leaf Spot {{ "%.2f" % (prediction[1] * 100) }}%</p>
    <p style="font-size:15px">Downy Mildew {{ "%.2f" % (prediction[2] * 100) }}%</p>
    <p style="font-size:15px">Fresh Leaf {{ "%.2f" % (prediction[3] * 100) }}%</p>
    <p style="font-size:15px">Powdery Mildew {{ "%.2f" % (prediction[4] * 100) }}%</p>
    <p style="font-size:15px">Rose Botrytis Blight {{ "%.2f" % (prediction[5] * 100) }}%</p>
    <p style="font-size:15px">Rose Slug {{ "%.2f" % (prediction[6] * 100) }}%</p>
    {% endfor %}
  </div><br>

  <div class="center" id="mydiv">
    <form method="post" action="/prediction" enctype="multipart/form-data">
      <h3><label for="image" style="color:#6c2d76">Upload a Leaf Image For Detection by inceptionV3:</label></h3>
      <div class="r"><input type="file" name="img" accept=".jpg, .jpeg, .png" style="color:brown" required></div>
      <img src="{{ image_url }}" style="height:150px;width:200px" /><br>
      <button type="submit" class="button">Predict</button>
    </form>
    <h5>Prediction: {{ class_name }}</h5>
    <p>All other Results: </p>
    {% for prediction in data %}
    <p style="font-size:15px">Black Spot {{ "%.2f" % (prediction[0] * 100) }}%</p>
    <p style="font-size:15px">Cercospora Leaf Spot {{ "%.2f" % (prediction[1] * 100) }}%</p>
    <p style="font-size:15px">Downy Mildew {{ "%.2f" % (prediction[2] * 100) }}%</p>
    <p style="font-size:15px">Fresh Leaf {{ "%.2f" % (prediction[3] * 100) }}%</p>
    <p style="font-size:15px">Powdery Mildew {{ "%.2f" % (prediction[4] * 100) }}%</p>
    <p style="font-size:15px">Rose Botrytis Blight {{ "%.2f" % (prediction[5] * 100) }}%</p>
    <p style="font-size:15px">Rose Slug {{ "%.2f" % (prediction[6] * 100) }}%</p>
    
    {% endfor %}
  </div><br>

</body>

</html>